@page
@model FinalProjectGroup11.Pages.Dwellings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Dwellings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].DwellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].DwellingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].TotalArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].NumberBed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].NumberBath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].NumberFloor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].Agent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dwelling[0].Buyer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dwelling) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DwellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DwellingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberBath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberFloor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buyer.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
