@page
@model FinalProjectGroup11.Pages.SalesOffices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalesOffice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOffice.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesOffice.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOffice.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesOffice.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOffice.ManagerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesOffice.ManagerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOffice.TotalAgents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesOffice.Agents.Count)
        </dd>
    </dl>
</div>
<div>
    <h2> Agents</h2>
    <table class="table table-info">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SalesOffice.Agents[0].FullName)</th>
                <th>@Html.DisplayNameFor(model => model.SalesOffice.Agents[0].EmailId)</th>
                <th>@Html.DisplayNameFor(model => model.SalesOffice.Agents[0].Rating)</th>
            </tr>
        </thead>

        @foreach (var item in Model.SalesOffice.Agents)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.EmailId)</td>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
            </tr>
        }

    </table>
</div>

<div>


</div>
