@page
@model FinalProjectGroup11.Pages.Agents.DetailsModel

@{
    ViewData["Title"] = "Agent Details";
}

<h2>Agent Details</h2>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.EmailId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.EmailId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.AgentDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.AgentDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.LicenseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.LicenseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.SalesOffice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.SalesOffice.Name)
        </dd>
    </dl>
</div>
<div>
    <h2> Listed dwellings</h2>
    <table class="table table-info">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Agent.Dwellings[0].DwellingAddress)</th>
                <th>@Html.DisplayNameFor(model => model.Agent.Dwellings[0].TotalArea)</th>
                <th>@Html.DisplayNameFor(model => model.Agent.Dwellings[0].NumberBed)</th>
                <th>@Html.DisplayNameFor(model => model.Agent.Dwellings[0].NumberBath)</th>
                <th>@Html.DisplayNameFor(model => model.Agent.Dwellings[0].DaysListed)</th>
            </tr>
        </thead>

        @foreach (var item in Model.Agent.Dwellings)
        {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.DwellingAddress)</td>
        <td>@Html.DisplayFor(modelItem => item.TotalArea)</td>
        <td>@Html.DisplayFor(modelItem => item.NumberBed)</td>
        <td>@Html.DisplayFor(modelItem => item.NumberBath)</td>
        <td>@Html.DisplayFor(modelItem => item.DaysListed)</td>

    </tr>
        }

    </table>
</div>
<div>
    
    
</div>
